$color-primary: red;
$color-secondary: orange;
$color-tertiary: #fff;
$color-font: rgb(49, 47, 47);

$fontFamily-SS: 'Noto Sans TC', sans-serif;

$fontSize-banner1: 4rem;
$fontSize-banner2: 2.5rem;
$fontSize-xl: 2rem;
$fontSize-lg: 1.75rem;
$fontSize-md: 1.5rem;
$fontSize-sm: 1.25rem;
$fontSize-xs: 1rem;

$bgc: #fff;

$bdr1: 1px solid red;
$bdr2: 1px solid blue;
$bdr3: 1px solid green;
$bdr4: 1px solid purple;