@import './base/reset';
@import './base/variable';
@import './mixin/mixin.scss';
@import './layout/header';
@import './page/index';


html {
    font-size: 16px;
    font-family: $fontFamily-SS;
}

body {
    background-color: $bgc;
}